
.cloud {
    width: 20%;
    left:5px
}
.sun {
    position: relative;
    width: 10%;
}
.dog {

    width: 10%;
}

#container {
    position: relative;
    text-align: center;

}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.park {
    width: 80%;
    height: 80%;
    margin: auto;
    
    background: url("parkBg.jpg") no-repeat center ;
    background-size: cover;
}

.parallax {
    /* The image used */
    background-image: url("flowers.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

body {background-color: #ff8890;height: 100%;}
body:hover {background-color: #ff4855;}
#container {background-color: #ff4652; width: 95%; height: 800px; margin: 20px;}
#container:hover {background-color: #ff8991;}

.flip {background-color: transparent; width: 300px; height: 300px;}
.flip img {width: 300px; height: 300px;}
.flipinside {position: relative; width: 300px; height: 300px; transition: transform 1s; transform-style: preserve-3d;}
.flip:hover .flipinside {transform: rotateY(180deg);}
.flipfront, .flipback {position: absolute; width: 100%; height: 100%; backface-visibility: hidden;}
.flipback {transform: rotateY(180deg);}
