<<<<<<< HEAD

.cloud {
    position: fixed;
    width: 20%;
    left:5px
}
.sun {
    position: fixed;
    width: 5%;
    left: 500px
}
.dog {
    width: 5%;
}

=======
body {background-color: #ff8890;}
body:hover {background-color: #ff4855;}
#container {background-color: #ff4652; width: 95%; height: 800px; margin: 20px;}
#container:hover {background-color: #ff8991;}
>>>>>>> 18e34b0bf5c5d93522c35f19f7ad85068e476603
